{% extends 'base.html.twig' %}

{% block javascripts %}{% endblock %}

{% block body %}
    <div>
        <div id="output">
            {{ randomNumber }}
        </div>
        <br/>
        {{ form(form) }}
    </div>
{% endblock %}