<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block title %}{% endblock %}
        <link href="{{ asset('./Rechner.css') }}" rel="stylesheet"/>
    </head>
    <body>
        {% block headerblock %}{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
